.img-expand{
    width: 690px;
}
@media (min-width: 768px) {
    .img-expand {
        width: 700px;
    }
}
@media (min-width: 992px) {
    .img-expand{
        width: 900px;
    }
}
@media (min-width: 1200px) {
    .img-expand {
        width: 1100px;
    }
header
{
    width: auto;
    height: 200px;
    background-color: white;
    color: black
}
nav h1
{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
}

*
{
    margin: 0;
    padding: 0;
    font: normal 100% Arial, Helvetica, sans-serif;
    line-height: 1.5;

}

.img-circle {
    float: left;
    margin: 0 10px 10px 10px ;
}
section
{
    text-align: center;
    width: 80%;
    margin: 10%;
    height: auto;
}
div.pagebreak
{
    width: 100%;
    height: 30px;
    border: 10px solid black;
}
.bubble_nav
{
  margin: 35px 0 50px;
    text-align: center;
}
.bubble_slide
{
    display: inline-block;
    margin: 0 2% 30px;
    vertical-align: top;
    width: auto;
    max-width: 200px;
}
.bubble_profile
{
    display : inline-block;
    text-decoration: none;
    height: 180px;
}
.bubble_image
{
    border-radius: 135px;
    display: block;
    height: 135px;
    width: 135px;
    margin: 0 auto 15px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
div.contact_box {
    width: 100%;
    height: 100px;
    border: 10px solid black;
}
/*#contact_box div
{
    float: left;
    width: 40%;
    margin: 1em
}*/
/*div.fb_like
{
    float: right;
}*/
.facebook_box
{
    height: 50%;
    width: 30%;
    float: right;
    background-color: #25a5a7;
    border: thin black;
}
/*.navbar*/
/*{*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*background: #00ffcc ;*/
    /*text-align: center;*/
    /*position: static;*/


/*}*/
/*.navbar li*/
/*{*/
    /*list-style: none;*/
    /*margin: 5px;*/
    /*display: inline;*/
    /*width: 30%;*/

/*}*/
/*.current*/
/*{*/
/*background-color: white;*/
/*}*/
/*.navbar a*/
/*{*/
    /*font-weight: bold;*/
    /*background: transparent;*/
    /*outline: none;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*height: 25px;*/
    /*width: 30%;*/
    /*border: solid thin black;*/

/*}*/
a:hover
{
    background-color: white;
}
a
{
    font-weight: bold;
    background: transparent;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.news
{
    height: 40%;
    width: 60%;
    background-color: aliceblue;
    border: solid thin black;
    margin: 5% 20% 5% 20%
}
.news  h1
{
    font: bold 150% Arial, Helvetica, sans-serif;
}
.news  h2
{
    font: bold 110% Arial, Helvetica, sans-serif;
}
.history
{
    height: 40%;
    width: 95%;
    background-color: aliceblue;
    border: solid thin black;
    margin: 2% 2% 2% 2%;
}
.history h1
{
    font: bold 150% Arial, Helvetica, sans-serif;
}
.history h2
{
    font: bold 110% Arial, Helvetica, sans-serif;
}
.lefttext
{
    text-align: left;
}
.righttext
{
    text-align: right;
}